@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

.red-accents {
  color: #8b0000;
}

#about-us {
  padding-top: 70px;
  height: 100vh;
  max-width: 100%;
  position: relative;
  background-size: cover;
  background-position: top;
  text-align: center;
}
.container-fluid {
  max-width: 100%;
}

#wwa {
  text-align: center;
}

#who-we-are {
  padding-top: 7.5%;
  font: 7em "Raleway", sans-serif;
  display: inline-block;
  border-bottom: 5px solid #8b0000;
  text-transform: uppercase;
}

#who-we-are-description {
  font: 2.5em "Raleway", sans-serif;
  padding-top: 2%;
}

.purpose {
  max-width: 100%;
  padding-top: 22.5%;
  font: 1.5em "Raleway", sans-serif;
  font-weight: bold;
}
