@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

#slideshow-rush {
  max-width: 100%;
  max-height: 100vh;
}

.carousel-caption {
  top: 40%;
  transform: translateY(-50%);
}

#rush-text {

  color: #fffdf9;
    font: 5em "Raleway", sans-serif;
    padding: 15px 35px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 2px;

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: #000 0px 0px 7px;
    width: 45%;
  
  -webkit-font-smoothing: antialiased;
}

img {
  opacity: 0.95;
}
