@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

#main {
    width:90%;
     padding:5%;
    padding-left: 15%
}

#main .contact-text h2 {
    font: 3.5em "Raleway", sans-serif; 
    text-transform: uppercase;
    color: #8B0000; 
}