@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");




#histHeader{
    position: relative;
    background: url("../images/History/histCover.jpg");
    max-width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 0 20%;

  }

  .hist-text {
 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .4);
    width: 35%;
    
  }

  #hist-cover-text {
    color: white;
    font: 5em "Raleway", sans-serif;
    padding: 15px 35px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 2px;
  
    -webkit-font-smoothing: antialiased;
  }
 