@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");




#histHeader{
    position: relative;
    background: url("../images/History/histCover.jpg");
    max-width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 0 20%;

  }
#hist-info{
   
    width:90%;
     padding:5%;
    padding-left: 15%
}
#hist-info .tt-origins {
   
    margin-bottom: 10%;
    text-align: center; }
    #hist-info  .tt-origins h2 {
   
      font: 3.5em "Raleway", sans-serif; 
      text-transform: uppercase;
      color: #8B0000; 
    
    }
    
    #hist-info  .tt-origins p {
        padding-top:5%;
      font: 1.5em "Raleway", sans-serif; 
      line-height: 1.5; }
    #hist-info  .tt-origins img {
        
      height: 300px; }
  #hist-info .ucsb-origins {
    text-align: center;
    margin-bottom: 10%; }
    #hist-info  .ucsb-origins h2 {
      font: 3.5em "Raleway", sans-serif; 
      text-transform: uppercase;
      color: #8B0000; 
        padding-bottom: 1%;
    }
    #hist-info  .ucsb-origins p {
        padding-top: 5%;
      font: 1.5em "Raleway", sans-serif;
      line-height: 1.5; }

  .hist-text {
 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: #000 0px 0px 7px;
    width: 35%;
    
  }
.hist2{
    width:90%
}
  #hist-cover-text {
    color: white;
    font: 5em "Raleway", sans-serif;
    padding: 15px 35px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 2px;
  
    -webkit-font-smoothing: antialiased;
  }
 