@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

.container-fluid {
  text-align: center;
  max-width: 100%;
}
#pillar-image {
  padding-top: 7.5%;
  height: auto;
  width: 50%;
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#which-pillar {
  font: 5em "Raleway", sans-serif;
  display: inline-block;
  border-bottom: 5px solid #8b0000;
  text-transform: uppercase;

}

#description {
   
  padding-left:5%;
  padding-right:5%;
  padding-top:2%;
  font: 2em "Raleway", sans-serif;
  padding-bottom:3%;
}
