@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

#profilepic {
  /*max-width: 250px;*/
  max-height: 250px;
  object-fit: cover;
  width:500px;
  height:250px;
  white-space: nowrap;
  border:solid;
    border-color: #8b0000;
    border-width: 3px;
    border-radius: 6%;
    width: 55%;
}

#name {
  text-align: center;
  width: 110%;
  height:110px;
  max-height: 110px;
}