
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    color: #333;
  }
#proHeader{
    position: relative;
    background: url("../images/Professional/proCover.jpg");
    max-width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 0 20%;
  }
  .pro-text {
 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: #000 0px 0px 7px;
    width: 45%;
  }
  #pro-cover-text {
    color: white;
    font: 5em "Raleway", sans-serif;
    padding: 15px 35px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 2px;
  
    -webkit-font-smoothing: antialiased;
  }
  #p-pro-text {
    padding: 5% 10% 5% 10% ;
     font: 2.5em "Raleway", sans-serif;
     text-align: center;
   }
   
  .pro-h{
      padding-left: 20%;
      padding-bottom: 3%
  }
  .pro-h #pro-h2 {
    font: 6em "Raleway", sans-serif; 
    text-transform: uppercase;
    color:  #333; 
   
      text-align: center;
      border-bottom: 5px solid #8B0000;
        display:inline-block;

    }
    

.pro-collage{
    padding:5%
}