@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: #333;
}

#h-rush-text {
  padding-top: 12.5%;
  font: 2.5em "Raleway", sans-serif;
  text-align: center;
}

#p-rush-text {
  padding-top: 2.5%;
  font: 2em "Raleway", sans-serif;
  text-align: center;
}

#rush-faq {
  font: 3.5em "Raleway", sans-serif;
  margin-top: 5%;
  color: #8b0000;
}
