@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nixie+One");

.red-accents {
  color: #8b0000;
}
#typing {
  text-align: center;
  padding: 0;
  margin: 0;
  top: 0;

  max-width: 100%;
  max-height: 100%;
}

.home {
  padding-top: 15%;
  padding-bottom: 25%;
}

.thetaTau {
  font: 5.5em "Nixie One", sans-serif;
}

.pillars {
  width: 50%;
  padding-top: 2.5%;
  font: 3.5em "Nixie One", sans-serif;
}
