@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nixie+One");

.accents {
  color: #fbc02d;
}
#typing {
  text-align: center;
  padding: 0;
  margin: 0;
  top: 0;
  background:#4c0000;
  max-width: 100%;
  max-height: 100%;
}

.home {
  padding-top: 15%;
  padding-bottom: 25%;
}

.thetaTau {
  color:white;
  font: 5.5em "Nixie One", sans-serif;
}

.pillars-typing {
  color:white;
  width: 50%;
  padding-top: 2.5%;
  font: 3.5em "Nixie One", sans-serif;
}
