@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

.FileUpload {
  padding-top: 7.5%;
}

#btnsubmit {
  padding-top: 2.5%;
}
#profileImage {
  float: right;
  max-width: 400px;
  max-height: 400px;
}
