@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

.navbar {
  z-index: 10;
  width: 100%;
  background: #fffdf9;
}

nav .navbar {
  margin: 0;
}
.navbar-brand {
  font: 1.4em "Raleway", sans-serif;
  letter-spacing: 1.5px;
  color: #333;
  text-transform: uppercase;
}

.collapse a {
  text-transform: uppercase;
  font: 1.1em "Raleway", sans-serif;
  color: #333;
}
.collapse a:hover {
  cursor: pointer;
  color: #8b0000 !important;
}

.collapse li.dropdown ul.dropdown-menu {
  opacity: 0.85;
  z-index: 10;
}
.collapse li.dropdown ul.dropdown-menu a {
  font-size: 1.2em;
  text-transform: lowercase;
}

.collapse .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
