@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");

#faq-accordion {
  max-width: 90%;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

#faq-question {
  font: 1.8em "Raleway", sans-serif;
  color: #8b0000;
}

#faq-answer {
  font: 1.3em "Raleway", sans-serif;
}
